/*
-------------------------------------------------------------------------------
@about		Estilos Globales.
@author		Carolina Casanova G.
@date		26/03/2025
@require	root.css
-------------------------------------------------------------------------------
*/

*
{
	border:0;
	margin:0;
	padding:0;
}

BODY
{
	background-color:var(--ThemeColor5, #FFF);
	color:var(--ThemeColor6, #000);
	font-family:var(--FontFace, sans-serif);
	font-size:0;
	min-width:var(--ClientMinWidth, 360px);
}

A
{
	color:var(--ThemeColor6);
	text-decoration:none;
}

/* Scrollbars */
::-webkit-scrollbar 
{
	width:16px;
	cursor:pointer;
}
::-webkit-scrollbar-track
{
	background:var(--ThemeColor0, #FFF);
}
::-webkit-scrollbar-thumb 
{
	background:var(--ThemeColor1, #999);
	border-radius:8px;
}
::-webkit-scrollbar-thumb:hover
{
	background:var(--ThemeColor2, #AAA);
	cursor:pointer;
}


/* Estilos compartidos */
.oculta
{
	display:none !important;
}

/* Estilos de mensajes */
.mensaje
{
	display:block;
	position:fixed;
	z-index:20;
	top:var(--MarginLateral);
	left:5px;
	width:calc(100% - 75px - 10px);
	height:auto;
	padding:15px 15px 15px 60px;
	background-color:var(--ThemeColor3);
	background-position:15px 15px;
	background-repeat:no-repeat;
	background-size:24px auto;
	border-radius:4px;
	font-size:var(--FontSize, 12pt);
	-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.5);
	-moz-box-shadow:0 3px 6px rgba(0,0,0,0.5);
	box-shadow:0 3px 6px rgba(0,0,0,0.5);
	cursor:pointer;
}
.mensaje.carga
{
	background-image:url("../img/icon_carga.gif");
}
.mensaje.error
{
	background-image:url("../img/icon_error.png");
}
.mensaje.exito
{
	background-color:var(--ThemeColor1);
	background-image:url("../img/icon_exito.gif");
}
