/*
-------------------------------------------------------------------------------
@about		Estilos ITEMS de Seccion.
@author		Carolina Casanova G.
@date		26/03/2025
@require	root.css
-------------------------------------------------------------------------------
*/

ARTICLE
{
	position:relative;
	vertical-align:top !important;
	width:100%;
	height:33vh;
	margin:0;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 500ms;	
	animation-name: fade_in;
	opacity: 1;
	background-color:var(--ThemeColor3);
}

/* 
-----------------------------
Contenedor de ITEM Padre 
-----------------------------
*/
ARTICLE[data-type="item_padre"] > *
{
	display:inline-block;
}

ARTICLE[data-type="item_padre"] > [data-type="imagen"]
{
	width:calc(100% / calc(var(--NumeroPhi) + 1));
	height:33vh;
	overflow:hidden;
	text-align:center;
}
ARTICLE[data-type="item_padre"] > [data-type="imagen"] .imagen
{
	width:100%;
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ARTICLE[data-type="item_padre"] > [data-type="imagen"] .imagen:hover,
ARTICLE[data-type="item_padre"] > [data-type="imagen"] .imagen:focus
{
	-ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
ARTICLE[data-type="item_padre"] > [data-type="imagen"].icon
{
	background-size:auto 90%;
	background-color:var(--ThemeColor3);
}
ARTICLE[data-type="item_padre"] > [data-type="imagen"] IMG
{
	display:none;
}
ARTICLE[data-type="item_padre"] > [data-type="texto"]
{
	width:calc(100% 
			- calc(100% / calc(var(--NumeroPhi) + 1)) 
			- calc(var(--MarginLateral) * 2));
	height:calc(33vh - calc(var(--MarginLateral) * 2));
	padding:var(--MarginLateral);
	line-height:2em;
	font-size:var(--SeccionItemSize, 14pt);
	overflow:auto;
}
ARTICLE[data-type="item_padre"] > [data-type="texto"] [data-field="url"]
{
	display:inline-block;
	background-color:var(--ThemeColor1);
	border-radius:4px;
}
ARTICLE[data-type="item_padre"] > [data-type="texto"] [data-field="url"]:hover
{
	background-color:var(--ThemeColor2);
}
ARTICLE[data-type="item_padre"] > [data-type="texto"] [data-field="url"] A
{
	display:inline-block;
	line-height:var(--BotonHeight, 45px);
	padding:0 15px;
}

/* Intercambia posicion de elementos horizontalmente */
ARTICLE[data-type="item_padre"].reverso
{
	clear:both;
	background-color:transparent;
}
ARTICLE[data-type="item_padre"].reverso > [data-type="imagen"]
{
	float:right;
}
ARTICLE[data-type="item_padre"].reverso > [data-type="texto"]
{
	float:left;
}

ARTICLE .clear
{
	clear:both !important;
}


/* 
-----------------------------
Contenedor de ITEM Form
-----------------------------
*/
ARTICLE[data-type="item_form"]
{
	width:calc(100% - calc(var(--MarginLateral) * 2));
	height:auto;
	padding:var(--MarginLateral);
	background-color:transparent;
	font-size:var(--SeccionItemSize, 14pt);
}
ARTICLE[data-type="item_form"] .field
{
	display:block;
}
ARTICLE[data-type="item_form"] .field LABEL,
ARTICLE[data-type="item_form"] .field [data-type="control"]
{
	display:block;
	margin:15px 0 10px;
	width:calc(100% - 30px);
}
ARTICLE[data-type="item_form"] .field LABEL .required
{
	color:red;
}
ARTICLE[data-type="item_form"] .field [data-type="control"]
{
	font-size:inherit;
	color:var(--ThemeColor6);
	background-color:var(--ThemeColor4);
	border-bottom:1px solid var(--ThemeColor5);
	padding:15px;
}
ARTICLE[data-type="item_form"] [data-type="buttons"]
{
	text-align:center;
	padding:var(--MarginLateral) 0;
}
ARTICLE[data-type="item_form"] INPUT[type="submit"]
{
	background-color:var(--ThemeColor1);
	border-radius:4px;
	padding:15px;
	font-size:inherit;
	cursor:pointer;
}


/*
---------------------------------------
 Pantallas Chicas 
---------------------------------------
*/
@media (max-width:480px)
{
	ARTICLE
	{
		height:auto !important;
		-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.5);
		-moz-box-shadow:0 3px 6px rgba(0,0,0,0.5);
		box-shadow:0 3px 6px rgba(0,0,0,0.5);
		margin-bottom:6px;
	}
	
	ARTICLE > *
	{
		display:block;
		width:100% !important;
	}
	
	ARTICLE[data-type="item_padre"] > [data-type="imagen"]
	{
		height:40vh;
	}
	ARTICLE[data-type="item_padre"] > [data-type="imagen"].icon
	{
		background-size:50% auto;
	}
	ARTICLE[data-type="item_padre"] > [data-type="texto"]
	{
		width:calc(100% - calc(var(--MarginLateral) * 2)) !important;
		height:auto;
	}
}
/* Configuracion animaciones */
@keyframes fade_in
{
	0%
	{
		opacity:0;
	}
	100%
	{
		opacity:1;
	}
}