/*
-------------------------------------------------------------------------------
@about		Estilos CONTENEDOR PRINCIPAL DE CONTENIDO.
@author		Carolina Casanova G.
@date		26/03/2025
@require	root.css
-------------------------------------------------------------------------------
*/

MAIN
{
	position:relative;
	z-index:8;
	width:100%;
	max-width:100vw;
	min-width:var(--ClientMinWidth, 360px);
	background-color:var(--ThemeColor0);
}

/* Titulo de seccion */
MAIN > H2
{
	padding:var(--MarginLateral);
	font-size:calc(var(--FontSize, 11pt) * 2);
	color:var(--ThemeColor2);
}

/* Contenedor principal */
MAIN > SECTION
{
	padding-bottom:var(--MarginLateral);
}
MAIN > SECTION.carga
{
	height:54px;
	padding:15px 0;
	background-color:var(--ThemeColor3);
	background-image:url("../img/icon_carga.gif");
	background-position:center;
	background-repeat:no-repeat;
	background-size:24px auto;
}
