/*
-------------------------------------------------------------------------------
@about		Variables de Estilos.
@author		Carolina Casanova G.
@date		26/03/2025
-------------------------------------------------------------------------------
*/

:root
{
	/* Paleta de Colores */
	--ThemeColor0	: #FFF;
	--ThemeColor6	: #5A5C48;
	/* --> Paleta extraida de https://www.color-hex.com/color-palette/1057237 */
	--ThemeColor1	: #bfdcd2; /* (191,220,210) */
	--ThemeColor2	: #95d4c6; /* (149,212,198) */
	--ThemeColor3	: #f4eddc; /* (244,237,220) */
	--ThemeColor4	: #ede3c7; /* (237,227,199) */
	--ThemeColor5	: #9e9f8b; /* (158,159,139) */
	
	/* Fuentes de Texto */
	--FontFace	: "Trebuchet MS", "Arial Narrow", "Arial", sans-serif;
	--FontSize	: 12pt;
	--SeccionItemSize	: 14pt;
	
	/* Dimensiones varias */
	--HeaderHeight			: 90px;
	--HeaderMenuButtonWidth	: 60px;
	
	--NavHeight				: 90px;
	--MenuItemHeight		: 45px;
	--BotonHeight			: 36px;
	
	--ClientMinWidth: 360px;
	--MarginLateral	: 45px;
	
	--NumeroPhi		: calc(calc(1 + sqrt(5)) / 2);
}

/* Otras dimensiones de Pantallas */
@media (min-width:480.1px) and (max-width:640px)
{
	:root
	{
		--MarginLateral	: 30px;
	}
}
@media (max-width:480px)
{
	:root
	{
		--MarginLateral	: 20px;
		--MenuItemHeight: 30px;
	}
}